## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
pip install config

Requirement already satisfied: config in /Users/jazzshie/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/weatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,East London,ZA,-33.0153,27.9116,68.00,70,100,6.15,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,79.79,81,100,23.82,light rain
2,2,Nchelenge,ZM,-9.3451,28.7340,71.01,80,100,1.52,overcast clouds
3,3,Tessalit,ML,20.1986,1.0114,84.70,9,71,7.18,broken clouds
4,4,Nome,US,64.5011,-165.4064,-5.13,89,3,7.65,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,79.79,81,100,23.82,light rain
3,3,Tessalit,ML,20.1986,1.0114,84.70,9,71,7.18,broken clouds
5,5,Vaini,TO,-21.2000,-175.2000,80.80,77,100,5.59,light rain
14,14,Mayumba,GA,-3.4320,10.6554,79.41,86,54,9.04,broken clouds
17,17,Hilo,US,19.7297,-155.0900,77.25,100,100,7.00,moderate rain
19,19,Dhanera,IN,24.5167,72.0167,76.26,36,45,7.40,scattered clouds
25,25,Georgetown,MY,5.4112,100.3354,78.73,99,20,3.44,few clouds
26,26,Boa Vista,BR,2.8197,-60.6733,84.94,60,75,7.74,broken clouds
27,27,Kavieng,PG,-2.5744,150.7967,83.61,70,52,14.00,broken clouds
32,32,Kapaa,US,22.0752,-159.3190,77.11,79,100,5.59,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_cities_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_preferred_cities_df [["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,79.79,light rain,-23.1203,-134.9692,
3,Tessalit,ML,84.70,broken clouds,20.1986,1.0114,
5,Vaini,TO,80.80,light rain,-21.2000,-175.2000,
14,Mayumba,GA,79.41,broken clouds,-3.4320,10.6554,
17,Hilo,US,77.25,moderate rain,19.7297,-155.0900,
19,Dhanera,IN,76.26,scattered clouds,24.5167,72.0167,
25,Georgetown,MY,78.73,few clouds,5.4112,100.3354,
26,Boa Vista,BR,84.94,broken clouds,2.8197,-60.6733,
27,Kavieng,PG,83.61,broken clouds,-2.5744,150.7967,
32,Kapaa,US,77.11,overcast clouds,22.0752,-159.3190,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
     print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
     print("Hotel not found... skipping.")

People ThankYou
Hotel not found... skipping.
Keleti Beach Resort
LIKWALE LODGE
Hilo Hawaiian Hotel
Paresh joja
Cititel Penang
Aipana Plaza Hotel
Nusa Island Retreat
Sheraton Kauai Coconut Beach Resort
Nuevo Hotel Plaza
Veranda Paul et Virginie Hotel & Spa
Scoop Guest House
Shanti Maurice Resort & Spa
Finch Bay Galapagos Hotel
Isles Sunset Lodge
Motel 6 Sinton, TX
Hotel Tesoro Los Cabos
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Villa Netibor
Hôtel Arc En Ciel Miandrivazo
Chambres d'hôte "La Trinité"
Black Marlin Restaurant & Hospedaje
Shandrani Beachcomber Resort & Spa
Tarawa Boutique Hotel
East Arnhem Real Estate
Comfort Inn Hotel
The Hamsa Resort
ALETHEIA Appartement Sinnamary
Hotel Durvankur
Asheev Beach
Pousada Porto Praia
Paradise Inn
Salinas do Maragogi All Inclusive Resort
Nuli Sapi
Villa Enata
Desert Gardens Hotel - Ayers Rock Resort
Pereybere Hotel & Spa
Hotel not found... skipping.
INN NEW HORIZON
Tanna Lodge
Fuente del Guania Hotel de Lujo
Hospedaje Costa Bella
Madipalli Inn
Hotel Boutique El Turista
Atlantis Hotel
DoubleFAG
Sea Lounge! Bar, Club & Restaurant
Lindsey Hôtel
Sheffield House Bed & Breakfast
Hostal Jardin Del Sol
Rio Xingu Camping
ibis Styles Mt Isa Verona
Silent Night Hotel
Tour Eiffel Hotel Benin
Novo Hotel
Batalla’s Lodging House
Bora-Bora Pearl Beach Resort & Spa
JABIR HOTEL
Hostal Iván y yailet
Holiday Inn Express Lompoc, an IHG Hotel
Hotel Alexandre
Hotel Citra
Hotel Arena Blanca
"Plantation Bed and Breakfast
Complejo Turístico Farelluk
Hosteria Sampedro
Le Manotel
ZINGARA 76ft Catamaran, full crew-all included
Custodian Hotel Gombe
Mystic Sands Beachfront Accommodation
OYO 3156 Hotel Warta 2
Osprey Beach Hotel
Belle Maison Hadana Hoi An managed by H&K Hospitality
SEGAYA PROPERTY
Grand Trisula Hotel
Hotel not found... skipping.
Hotel Puerto del Sol
Grage Hotel Bengkulu
Lorengau Harbourside Hotel
Hôtel Le Dronmi
dyd -mar Hotel
Hotel not found... skipping.
Pousada Porto De Canoas
Pin Drop Hotel
Swiss-Belhotel Ambon
HOSPEDAJE XIMENA
Gran Hotel Mar del Plata
Howard Johnson by Wyndham Plaza Hotel Mayorazgo
Império Hotel
Hospitality Carnarvon
Hilton Garden Inn Tampa East/Brandon
Residence Inn by Marriott Clearwater Downtown
Hotel not found... skipping.
Hotel Bela Vista
Hampton Inn & Suites Big Spring
Casa Tia Villa
Hotel Vitória Palace
Sahid Bela Ternate Hotel
Hotel Del Centro
Kimbe Bay Hotel
Hotel Kou-Bugny
Chácara Sombra do Altíssimo
janelas do mar
Hotel Assyifa
Humacao Bed & Breakfast
Hotel Atlântico Rio Grande
Restaurant Greedy Coco Lodge Majunga
Kamaneahn Hotel Inc
Lakeview Inn Binga
Samparada & Gestiada Residences
Hotel San Isidro Oficial
Kwepunha Retreat
Hotel Dawei
Maui Seaside Hotel
casa do bruno
Hotel Miramar
OYO 884 Rumoh PMI Hotel
Complexo da Familia
Wum Council Hall
Flat Quatro Rodas Olinda
Hotel Dakan
Govt Sc/St Hostel Rehli
Apart Hotel - Arianos
Kenara Colony house for Rent
Alperi Botique Resort
Bison Resort
HOSTAL MI CHALET - PARAMONGA
Seagulls Inn Namatani
FELIPA LAODENIO PROPERTY
Harrah's Laughlin
Swiss Belhotel Manokwari
Omadhoo Inn
Hotel Flamingo
Hotel Pousada Xapuri
Hotel "Punta del Cerro"
Hôtel sahélien
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Hotel not found... skipping.
Besares Social Club
Conquistador Hotel
Maracaju Plaza Hotel - Hospedagem - Maracaju/MS
Auki Motel
Floresta Amazonica Hotel
Hotel Archipelago
Monty Brooms Guest House
Pirineos
El Conquistador Tucson, A Hilton Resort
Haajy Guest House 1
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Hospedaje Ratto
Casa Dora, Bubaque
TDC Village (Hundred Man Camp)
Casa Andina Standard Nasca
Pousada Rua Camurupim
Hotels in Lakshadweep Islands
Universal Gab Hotel
HS Hotsson Smart Acapulco
Lakeview Lodge
Shree karni resorts rajana rajaldesar
Sunset Inn
Hotel not found... skipping.
La Cimarrona
Puri Brata
Hotel Portal
Capital O 66968 Haveli The Landmark
Hotel Palaaima
Bustani B&B
Hotel Kununurra
Mega Hotel, Miri
Hotel H1
Hotel Zaraza
Uruna Bay Retreat
Le Gîte d’Iracoubo
Waigo Splash Hotel
The Espiritu Hotel
The Esplanade Hotel (Accommodation section closed for refurbishment - Bar, Restaurant & Functions remain open)
ACHOLI INN
Heritage Park Hotel
La pousada
Priva’s
Foyer ADM
Lords Inn Porbandar
Axim Beach Resort And Spa
Niyama Private Islands Maldives
Bonifacio Lodge
Ramada by Wyndham Sarasota Waterfront
CeBlue Villas & Beach Resort
Econo Lodge Kingsville
Grafika Hotel Dan Restoran
SanBiz Lodge
Hotel not found... skipping.
Marriott's Ko Olina Beach Club
Drury Plaza Hotel San Antonio Riverwalk
Sunrise Attitude Hotel
hotêl doufoulougou
Big Fish Guest House
Pension Oaoa
Oceano
Hotel Executivo Palace
Hotel Los Lagos
Barravento Hotel
Groote Eylandt Lodge
Rancho Jads
Baymont by Wyndham Lazaro Cardenas
Ndiayéne
Motel Albatroz
Hotel La Villa Couacou
Hotel Plaza Maya, Salamá, Olancho
Abaco Beach Resort
Sharif Plaza Hotel
Pousada Porteira
Salinas Park Resort Maçarico AP101
Lambitu Hotel
Iftin hotel hobyo
Hotel Plaza
Al-Mustafa Hotel
Hotel not found... skipping.
K2 Lembeh
Pondok Wisata Elim
Ramah Kost KITA
Hotel Villa Kitzia Huacho
Estatua de Sahuaripa
Hotel Durval

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_new = hotel_df.dropna()
hotel_new

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,79.79,light rain,-23.1203,-134.9692,People ThankYou
3,Tessalit,ML,84.70,broken clouds,20.1986,1.0114,
5,Vaini,TO,80.80,light rain,-21.2000,-175.2000,Keleti Beach Resort
14,Mayumba,GA,79.41,broken clouds,-3.4320,10.6554,LIKWALE LODGE
17,Hilo,US,77.25,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
660,Waingapu,ID,78.30,overcast clouds,-9.6567,120.2641,Pondok Wisata Elim
661,Pemangkat,ID,79.68,overcast clouds,1.1667,108.9667,Ramah Kost KITA
665,Hualmay,PE,78.22,scattered clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
666,Sahuaripa,MX,88.30,clear sky,29.0500,-109.2333,Estatua de Sahuaripa
670,Manicore,BR,81.23,moderate rain,-5.8092,-61.3003,Hotel Durval

In [11]:
# 8a. Create the output File (CSV)
output_file = "WeatherPy_vacation.csv"

In [12]:
# 8b. Export the City_Data into a csv
hotel_new.to_csv(output_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_new.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_new[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))